[Desktop Entry]
Type=Action
Name[nl_NL]=Extra paneel
Name[nl]=Extra paneel
Icon[nl_NL]=view-split-left-right
Icon[nl]=view-split-left-right
TargetContext=false
TargetToolbar=true
ToolbarLabel[nl_NL]=Extra paneel
ToolbarLabel[nl]=Extra paneel
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name[nl_NL]=Default profile
Name[nl]=Default profile
Exec=sh -c 'xdotool key ISO_Level3_Shift+XF86Reload'
Folders=*;
