! ## Font settings
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hinstyle:   full

! === fusion color scheme ===
! special
*foreground:   #c5c8c6
*background:   #1d1f21
*cursorColor:  #c5c8c6
! black
*color0:       #282a2e
*color8:       #373b41
! red
*color1:       #a54242
*color9:       #cc6666
! green
*color2:       #8c9440
*color10:      #b5bd68
! yellow
*color3:       #de935f
*color11:      #f0c674
! blue
*color4:       #5f819d
*color12:      #81a2be
! magenta
*color5:       #85678f
*color13:      #b294bb
! cyan
*color6:       #5e8d87
*color14:      #8abeb7
! white
*color7:       #707880
*color15:      #c5c8c6

! ## Rofi settings
rofi.font:             Hack Bold 10
rofi.terminal:         i3-sensible-terminal
rofi.separator-style:  solid
rofi.hide-scrollbar:   false
rofi.scrollbar-width:  6
rofi.bw:               3
rofi.padding:          15
rofi.eh:               1
rofi.line-margin:      2
rofi.opacity:          90
rofi.width:            450
rofi.lines:            15
rofi.threads:          4
!custom keybinding
rofi.kb-delete-entry:  Delete,Alt+BackSpace

! Rofi colors
rofi.color-enabled:    true
rofi.color-window:     #2d2d2d, #586e75, #4E6269
rofi.color-normal:     #2d2d2d, #c7c7c7, #333333, #80a5a6, #101112
rofi.color-active:     #2d2d2d, #b5bd68, #333333, #b5bd68, #101112
rofi.color-urgent:     #2d2d2d, #cc6666, #333333, #cc6666, #101112

! URxvt (aur/rxvt-unicode-256xresources)
URxvt*font: xft:Hack:pixelsize=13,xft:Source Code Pro for Powerline:pixelsize=13
URxvt*scrollBar: false
! Perl extensions (https://github.com/wifiextender/urxvt-pasta)
URxvt.perl-ext-common: default,selection-to-clipboard,pasta,matcher,keyboard-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-launcher: surf
URxvt.underlineURLs: True
URxvt.matcher.button: 1 
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.Control-Shift-V: perl:pasta:paste
URxvt.clipboard.autocopy: true

