!-- Xft settings -- !
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hinstyle:   full

!TomorrowNight
#define t_background        #1d1f21
#define t_current_line      #282a2e
#define t_selection      	#373b41
#define t_foreground      	#c5c8c6
#define t_comment	     	#969896
#define t_red		     	#cc6666
#define t_orange	     	#de935f
#define t_yellow        	#f0c674
#define t_green	        	#b5bd68
#define t_aqua	        	#8abeb7
#define t_blue	        	#81a2be
#define t_purple        	#b294bb

*.foreground:   t_foreground
*.background:   t_background
*.cursorColor:  #aeafad

! Black / Grey
*.color0:       #000000
*.color8:       #666666

! Red / Bright Red
*.color1:       t_red
*.color9:       #FF3334

! Green + Bright Green
*.color2:       t_green
*.color10:      #9ec400

! Yellow (Orange) + Bright Yellow (Yellow)
*.color3:       t_orange
*.color11:      t_yellow

! Blue + Bright Blue
*.color4:       t_blue
*.color12:      t_blue

! Magenta (Purple) + Bright Magenta
*.color5:       t_purple
*.color13:      #b777e0

! Cyan (Aqua) + Bright Cyan
*.color6:       t_aqua
*.color14:      #54ced6

! Light Grey (Selection) + White (Current Line)
*.color7:       t_selection
*.color15:      t_current_line

!rofi settings
rofi.opacity:                        90
rofi.width:                          25
rofi.lines:                          15
rofi.columns:                        1
rofi.font:                           Source Code Pro Medium 10
rofi.fg:                             #eceff1
rofi.bg:                             #263238
rofi.color-enabled:                  false
rofi.color-normal:                   #fdf6e3,#002b36,#eee8d5,#586e75,#eee8d5
rofi.color-urgent:                   #fdf6e3,#dc322f,#eee8d5,#dc322f,#fdf6e3
rofi.color-active:                   #fdf6e3,#268bd2,#eee8d5,#268bd2,#fdf6e3
rofi.color-window:                   #fdf6e3,#002b36
rofi.fg-active:                      #268BD2
rofi.fg-urgent:                      #DC322F
rofi.hlfg-active:                    #FDF6E3
rofi.hlfg-urgent:                    #FDF6E3
rofi.bg-active:                      #FDF6E3
rofi.bg-urgent:                      #FDF6E3
rofi.hlbg-active:                    #268BD2
rofi.hlbg-urgent:                    #DC322F
rofi.bgalt:                          #263238
rofi.hlfg:                           #EEE8D5
rofi.hlbg:                           #586E75
rofi.bc:                             #002B36
rofi.bw:                             1
rofi.location:                       0
rofi.padding:                        5
rofi.yoffset:                        0
rofi.xoffset:                        0
rofi.fixed-num-lines:                false
rofi.terminal:                       termite
rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e {ssh-client} {host}
rofi.run-command:                    {cmd}
rofi.run-list-command:               
rofi.run-shell-command:              {terminal} -e {cmd} +hold
rofi.disable-history:                false
rofi.levenshtein-sort:               false
rofi.case-sensitive:                 false
rofi.sidebar-mode:                   false
rofi.lazy-filter-limit:              5000
rofi.eh:                             1
rofi.auto-select:                    false
rofi.parse-hosts:                    false
rofi.combi-modi:                     window,run
rofi.fuzzy:                          true
rofi.m:                              -1
rofi.line-margin:                    2
rofi.filter:                         
rofi.separator-style:                dash
rofi.hide-scrollbar:                 true
rofi.pid:                            /run/user/1000/rofi.pid
rofi.kb-primary-paste:               Control+Shift+v,Shift+Insert
rofi.kb-secondary-paste:             Control+v,Insert
rofi.kb-clear-line:                  Control+u
rofi.kb-move-front:                  Control+a
rofi.kb-move-end:                    Control+e
rofi.kb-move-word-back:              Alt+b
rofi.kb-move-word-forward:           Alt+f
rofi.kb-move-char-back:              Left,Control+b
rofi.kb-move-char-forward:           Right,Control+f
rofi.kb-remove-word-back:            Control+Alt+h
rofi.kb-remove-word-forward:         Control+Alt+d
rofi.kb-remove-char-forward:         Delete,Control+d
rofi.kb-remove-char-back:            BackSpace,Control+h
rofi.kb-accept-entry:                Control+j,Control+m,Return,KP_Enter
rofi.kb-accept-custom:               Control+Return
rofi.kb-accept-entry-continue:       Shift+Return
rofi.kb-mode-next:                   Shift+Right,Control+Tab
rofi.kb-mode-previous:               Shift+Left,Control+Shift+Tab
rofi.kb-toggle-case-sensitivity:     grave,dead_grave
rofi.kb-delete-entry:                Control+BackSpace
