[Desktop Entry]
Type=Action
Name=Mediainfo
Name[nl_NL]=Mediainfo
Name[nl]=Mediainfo
Icon=stock_view-details
Icon[nl_NL]=stock_view-details
Icon[nl]=stock_view-details
ToolbarLabel=Mediainfo
ToolbarLabel[nl_NL]=Mediainfo
ToolbarLabel[nl]=Mediainfo
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name=Default profile
Name[nl_NL]=Default profile
Name[nl]=Default profile
Exec=sh -c "touch /tmp/mediainfo; mediainfo %u > /tmp/mediainfo; gvim /tmp/mediainfo"
ExecutionMode=Terminal
MimeTypes=audio/*;video/*;
