[Desktop Entry]
Type=Action
Name=Set as wallpaper...
Name[nl_NL]=Als achtergrond instellen...
Name[nl]=Als achtergrond instellen...
Icon=view-preview
Icon[nl_NL]=view-preview
Icon[nl]=view-preview
ToolbarLabel=Set as wallpaper...
ToolbarLabel[nl_NL]=Als achtergrond instellen...
ToolbarLabel[nl]=Als achtergrond instellen...
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name=Default profile
Name[nl_NL]=Default profile
Name[nl]=Default profile
Exec=sh -c 'feh --bg-fill  %f  && i3-msg workspace  '
MimeTypes=image/*;
