[Desktop Entry]
Type=Action
Name=Open in ranger
Name[nl_NL]=Open in ranger
Name[nl]=Open in ranger
Tooltip=Open current directory in ranger
Tooltip[nl_NL]=Open huidige folder in ranger
Tooltip[nl]=Open huidige folder in ranger
Icon=gtk-open
Icon[nl_NL]=gtk-open
Icon[nl]=gtk-open
TargetLocation=true
TargetToolbar=true
ToolbarLabel=Open in ranger
ToolbarLabel[nl_NL]=Open in ranger
ToolbarLabel[nl]=Open in ranger
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name=Default profile
Name[nl_NL]=Default profile
Name[nl]=Default profile
Exec=termite %u -e "sh -c ranger"
Path=%f
MimeTypes=inode/directory;
