[Desktop Entry]
Type=Action
Name=Send file with Geary ...
Name[nl_NL]=Als email-bijlage versturen...
Name[nl]=Als email-bijlage versturen...
Icon=mail-send
Icon[nl_NL]=mail-send
Icon[nl]=mail-send
ToolbarLabel=Send file with Geary...
ToolbarLabel[nl_NL]=Als email-bijlage versturen...
ToolbarLabel[nl]=Als email-bijlage versturen...
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name=Default profile
Name[nl_NL]=Default profile
Name[nl]=Default profile
Exec=geary-attach %F
MimeTypes=text/*;image/*;application/*;!inode/directory;
